{% extends 'base.html' %}
{% load static %}

{% block title %}
Кошик
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}

<div class="cart-drawer" id="cartDrawer">

    <span class="close-btn" onclick="closeCart()">✖</span>

    <h1 class="cart-title">Кошик</h1>

    <div id="cartContent"></div>

    <div class="cart-summary">

        <div class="cart-total">
            <span>Разом:</span>
            <span id="totalPrice"></span>
        </div>

        <a href="{% url 'checkout:create_order' %}" class="checkout-btn">
            Оформити замовлення
        </a>

    </div>

</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}