{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="container">

    <h1>{{ product.name }}</h1>

    <div class="product-image">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
            <p>Немає зображення 🫠</p>
        {% endif %}
    </div>

    <div class="price">
        {{ product.price }} грн
    </div>

    <button class="cart-btn"
            onclick="addToCart('{% url 'add_products' product.id %}')">
        Додати в кошик
    </button>

    {% if product.description %}
        <div class="description">
            {{ product.description }}
        </div>
    {% endif %}

    {% if product.category %}
        <p style="color:#777;">
            Категорія:
            <a href="{% url 'categories_details' product.category.slug %}">
                {{ product.category.name }}
            </a>
        </p>
    {% endif %}

    <a href="{% url 'products' %}" class="back">
        ← Назад до всіх товарів
    </a>

</div>

{% endblock %}