{% extends 'base.html' %}

{% block content %}

<main class="products-page">

    <h1>
        {% if category %}
            {{ category.name }}
        {% else %}
            Всі товари
        {% endif %}
    </h1>

    <div class="filters">
        <form method="get">
            <select name="product_type">
                <option value="">Усі типи товарів</option>

                {% if category %}
                    {% for product_type in category.producttype.all %}
                        <option value="{{ product_type.id }}">
                            {{ product_type.name }}
                        </option>
                    {% endfor %}
                {% else %}
                    {% for category in product_categories %}
                        <optgroup label="{{ category.name }}">
                            {% for product_type in category.producttype.all %}
                                <option value="{{ product_type.id }}">
                                    {{ product_type.name }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                {% endif %}

            </select>
            <button type="submit">Фільтрувати</button>
        </form>
    </div>

    {% if products %}

        <div class="products-container">

            {% for product in products %}

                <div class="product-card">

                    <a href="{% url 'product_list' product.slug %}">

                        {% if product.images.first %}

                            <img
                                src="{{ product.images.first.image.url }}"
                                alt="{{ product.name }}"
                            >

                        {% else %}

                            <div class="no-image">
                                Немає зображення 🫠
                            </div>

                        {% endif %}

                        <div class="product-name">
                            {{ product.name }}
                        </div>

                        <div class="product-price">
                            {{ product.final_price }} грн
                        </div>
                        {% if product.status == "IN" %}
                            <p class="product-status status-available">
                                {{ product.get_status_display }}
                            </p>

                        {% elif product.status == "PRE" %}
                            <p class="product-status status-order">
                                {{ product.get_status_display }}
                            </p>

                        {% else %}
                            <p class="product-status status-unavailable">
                                {{ product.get_status_display }}
                            </p>
                        {% endif %}

                    </a>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <p class="empty">
            🌸 У цій категорії товарів поки немає.
        </p>

    {% endif %}


</main>

{% endblock %}