<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Сайт{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    {% block extra_css %}{% endblock %}


</head>



<body>

<header class="site-header">

    <div class="header-container">

        <div class="logo">
            <a href="/">
                <img src="/media/content/logo.png" alt="Logo">
            </a>

        </div>

        <nav class="main-menu">

            <a href="{% url 'products' %}">
                Всі товари
            </a>

            {% for category in categories %}

                <a href="{% url 'category_products' category.slug %}">
                    {{ category.name }}
                </a>

            {% endfor %}

        </nav>


        <div class="cart-link">
            <button onclick="openCart()"><img src="/media/content/koshyk.png" alt="koshyk"> </button>
        </div>

    </div>

</header>

<!-- 🔐 CSRF ТОКЕН ДЛЯ JS -->
<form style="display:none;">
    {% csrf_token %}
</form>

{% block content %}{% endblock %}

<!-- 🛒 КОШИК -->
<div class="overlay" id="overlay" onclick="closeCart()"></div>

<div class="cart-drawer" id="cartDrawer">

    <button
        class="close-btn"
        onclick="closeCart()"
        aria-label="Закрити кошик">

        ✕

    </button>

    <h2 class="cart-title">
        Кошик
    </h2>

    <div id="cartContent"></div>

    <div class="cart-summary">

        <div class="cart-total">

            <span>Разом:</span>

            <span id="totalPrice"></span>

        </div>

        <a href="{% url 'checkout:create_order' %}"
           class="checkout-btn">

            Оформити замовлення

        </a>

    </div>

</div>

<footer class="site-footer">

    <div class="footer-links">

        <a href="{% url 'footer_articles' 'sizes' %}">
            Розміри
        </a>

        <a href="{% url 'footer_articles' 'terms' %}">
            Терміни виконання
        </a>

        <a href="{% url 'footer_articles' 'delivery' %}">
            Оплата і доставка
        </a>

        <a href="{% url 'footer_articles' 'contacts' %}">
            Контакти
        </a>

    </div>

</footer>

{% block scripts %}{% endblock %}

<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/product.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>

</body>


</html>